Django==3.2.23
django-extensions==3.2.3
Pillow==10.1.0
pytz==2024.1
sqlparse==0.4.4
asgiref==3.7.2
django-cors-headers==4.3.0
requests==2.31.0
python-dotenv==1.0.0
Django==3.2.23
django-extensions==3.2.3
Pillow==10.1.0
pytz==2024.1
sqlparse==0.4.4
asgiref==3.7.2
